.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(175, 175, 175);
}

.login_box{
    position: relative;
    max-width: 480px;
    width: 100%;
    padding:30px 12px;
    display: flex;
    justify-content: center;
    border-radius: var(--radius);
    background-color: white;
}
.login_box .close{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.close:hover{
  background-color: lightgray;
}

.login_form{ 
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
    width: 100%;
    max-width: 280px;
}

.login_form .input{
    padding: 14px;
    border-radius: 3px;
    border: 1px solid #333;
}

.login_box .logo{
    height: 32px;
    width: 32px;
    margin: 5px auto;
}

.login_box .logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Sign Buttons */
.sign_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border: 1px solid gray;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  
  .sign_btn img{
    height: 26px;
    width: 26px;
  }
  
  .sign_in, .sign_up{
    padding: 8px 16px;
  }
  
  .sign_up{
    color: rgb(247, 247, 247);
    background-color: var(--primary-color);
  }
  
  .sign_in{
    margin-top: 15px;
    color: var(--primary-color);
  }
  
  .line{
    position: relative;
    height: 1px;
    background-color: gray;
    margin: 10px 0;
  }
  .line::after{
    position: absolute;
    content: 'or';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 6px;
  }